<div class="container-sm p-2 bg-dark text-light justify-content-center align-items-center">
    <h1>HTMLCOIN faucet</h1>
    <div class="formContainer" style="max-width:520px">
        <form class="form-horizontal requestForm" action="{{app_prefix}}/process" method="post" onSubmit="return false">
            <label for="btnDrip">Wallet address to send {{outputHTML}} HTML</label>
            <div class="input-group">
                <input type="text" class="form-control address" name="address" 
                placeholder="enter wallet address" value=""/><!-- Tips to author at HeCJjfQcvES1DLXvGg8vSD4NXmUZKec2Eq :p -->
                <div class="input-group-append">
                   <button class="btn btn-primary" type="submit" name="drip" id="btnDrip">SEND</button>
                </div>
            </div>
            <input type="hidden" name="g-recaptcha-response" id="token"/>
        </div>
        <div class="notice container-sm my-2 small" style="display:none"></div>
    </form>
    <div class="my-3"><span class="badge badge-warning">faucet addres</span> <a href="https://explorer.htmlcoin.com/address/{{faucetAddress}}" 
                target="_blank"><tt>{{faucetAddress}}</tt></a></div>
    </div>
</div>
{{#section 'jquery'}}
<script>
$(document).ready(()  => {
    /*function wait(ms) {
        return new Promise((resolve) => {
            setTimeout(resolve(), ms)
        }
    }
*/
    $('body > div > h1:first-child').css('background-image', 'url({{app_prefix}}/img/favicon-96.png)'); // because cPanel mod_passenger sux
    $('.requestForm').on('submit', (evt) => {
        evt.preventDefault();
        $('button:submit').prop('disabled', true);
        $('.notice').html('').hide();
        var $me = $(evt.target);
        var action = $me.attr('action');
        var $container = $me.closest('.formContainer');
        var progress = 20;
        grecaptcha.execute('6LdcKusUAAAAAOGEYFBtrg7tCVJeAAA3RX8EkTVR', {action: 'drippage'})
        .then(token => {
            $('#token').val(token);
            $('.notice').html('<div class="progress"><div class="progress-bar bg-info" role="progressbar" aria-valuenow="'+progress+'" />').show();
            var dotter = setInterval(() => { 
                    progress += 5;
                    if (progress < 100) {
                        $('.progress-bar').css( "width", progress + "%" ).attr('aria-valuenow', progress);
                    } else {
                        clearInterval(dotter);
                        $('.progress-bar').addClass('progress-bar-striped progress-bar-animated');
                    }
            }, 100)
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                data: $me.serialize(),
                timeout: 45000,
                success: (data) => {
                    clearInterval(dotter);
                    if (data.success) {
                        $('.notice').html('').hide()
                        $container.html(
                              '<div class="alert alert-secondary overflow-hidden" role="alert">Sent ' + data.amount +' HTML to <tt>' + data.toAddress + '</tt></div>'
                              + '<div class="alert alert-info overflow-hidden" role="alert">TX ID (click to explore)<br/>'
                              + '<a class="alert-link" href="https://explorer.htmlcoin.com/tx/' + data.txID + '"><small>' + data.txID + '</small></a></div>'
                        );
                        $('.notice').html('Reload this page to sent HTML to someone else.');
                    } else {
                        $('.notice').html(data.error + ((data.reason) ? '<br/><code>'+data.reason+'</code>' : '')).show();
                        $('button:submit').prop('disabled', false);
                    }
                },

                error: (jqXHR, status, errorThrown) => {
                    clearInterval(dotter);
                    switch (status) {
                        case 'error': 
                            $('.notice').html('There could be a problem. Perhaps the insider has failed? :/').show();
                            break;

                        case 'timeout':
                            $('.notice').html('Communication timeout. Try again?').show();
                            $('button:submit').prop('disabled', false);
                            break;
                    }
                },
            });
        });
    });
});
</script>
{{/section}}
